@use "../../variables" as s;

.button-more {
  padding: 10px 15px;
  background-color: s.$pink;
  border: none;
  color: s.$white;
  text-decoration: none;
}

.button-sub {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: s.$pink;
  border: 2px solid s.$black;
  color: s.$white;
}

.button-join {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: s.$pink;
  border: none;
  color: s.$white;
}

.sign-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.button-scroll {
  position: fixed;
  left: 83%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: s.$pink;
}

.button-mobile {
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: s.$pink;
  right: 83%;
  bottom: 15px;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  padding: 2px;
  font-size: 0.8rem;
  letter-spacing: 3px;
  z-index: 1;
  cursor: pointer;
  color: s.$white;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // margin-top: 4px;
    // margin-left: 2px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.animated-button {
  background: linear-gradient(-30deg, s.$pink 50%, s.$pink 50%);
  padding: 15px 30px;
  border: none;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: s.$white;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: s.$buttonborderTop;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(8, 20, 43, 0)),
    to(s.$buttonborderBottom)
  );
  background: linear-gradient(
    to left,
    rgba(8, 20, 43, 0),
    s.$buttonborderBottom
  );
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(8, 20, 43, 0)),
    to(s.$buttonborderBottom)
  );
  background: linear-gradient(
    to top,
    rgba(8, 20, 43, 0),
    s.$buttonborderBottom
  );
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(8, 20, 43, 0)),
    to(s.$buttonborderTop)
  );
  background: linear-gradient(to right, rgba(8, 20, 43, 0), s.$buttonborderTop);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(8, 20, 43, 0)),
    to(s.$buttonborderTop)
  );
  background: linear-gradient(
    to bottom,
    rgba(8, 20, 43, 0),
    s.$buttonborderTop
  );
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 375px) {
  .button-scroll {
    left: 85%;
  }
  .button-mobile {
    right: 85%;
  }
}

@media (min-width: 425px) {
  .button-scroll {
    left: 87%;
  }
  .button-mobile {
    right: 87%;
  }
}

@media (min-width: 768px) {
  .sign-button {
    display: flex;
    justify-content: flex-end;
  }
  .button-scroll {
    left: 92%;
  }
  .button-mobile {
    right: 92%;
  }
}

@media (min-width: 1024px) {
  .button-more {
    padding: 10px 50px;
  }
  .button-scroll {
    left: 94%;
  }
  .button-mobile {
    right: 94%;
  }
}

@media (min-width: 1440px) {
  .button-scroll {
    left: 96%;
  }
  .button-mobile {
    right: 96%;
  }
}

@media (min-width: 2560px) {
  .button-scroll {
    left: 76%;
  }
  .button-mobile {
    right: 76%;
  }
}
