@use "../../variables" as s;

.button-more {
  padding: 10px 15px;
  background-color: s.$pink;
  border: none;
  color: s.$white;
  text-decoration: none;
}

.button-sub {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: s.$pink;
  border: 2px solid s.$black;
  color: s.$white;
}

.button-join {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: s.$pink;
  border: none;
  color: s.$white;
}

.sign-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.button-scroll {
  position: fixed;
  left: 83%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: s.$pink;
}

@media (min-width: 375px) {
  .button-scroll {
    left: 85%;
  }
}

@media (min-width: 425px) {
  .button-scroll {
    left: 87%;
  }
}

@media (min-width: 768px) {
  .sign-button {
    display: flex;
    justify-content: flex-end;
  }
  .button-scroll {
    left: 92%;
  }
}

@media (min-width: 1024px) {
  .button-more {
    padding: 10px 50px;
  }
  .button-scroll {
    left: 94%;
  }
}

@media (min-width: 1440px) {
  .button-scroll {
    left: 96%;
  }
}
