@use "../../variables" as s;

//////////////////////////////// HOME ALL /////////////////////////////
.main-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

////////////////////////////////// HOME TOP ///////////////////////////

.home-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: red;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-logo {
  background-color: s.$white;
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 10px;
  width: 80%;

  h1 {
    color: s.$black;
  }
}

////////////////////////////////////// HOME MID ////////////////////////////////

.home-mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-mid-one {
  margin-bottom: 40px;
  h2 {
    margin-bottom: 20px;
  }

  p {
    margin: 0 20px 20px 20px;
  }
}

.home-programs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  div {
    hr {
      width: 40px;
      height: 6px;
      margin: 5px;
      background-color: black;
      border-radius: 2px;
      border: none;
    }
  }
}

.topic-container {
  padding: 20px 0 5px 0;

  div {
    padding: 20px;
    background-color: s.$grey;

    h3 {
      margin-bottom: 20px;
    }
  }

  .topic-img-1 {
    width: 100%;
  }
}

.topic-img {
  width: 100%;
}

//////////////////////////// HOME BOTTOM //////////////////////////

.home-bottom-container {
  background-color: s.$black;
  padding: 20px 10px;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: s.$white;

  p {
    padding: 10px;
  }
}

.space-1-img {
  width: 100%;
}

.space-images {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-img {
  width: 49%;
  margin-bottom: 5px;
}
