.home-one {
  padding: 20px 10px;
}

.home-two {
  padding: 20px 0px;

  img {
    width: 320px;
    height: 300px;
    margin-bottom: 10px;
  }

  h4 {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  p {
    padding: 0px 20px;
  }
}

.instructor-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0px;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  hr {
    height: 5px;
  }
}

.program-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
}
