.home-one {
  padding: 20px 0px;
}

.home-two {
  padding: 20px 0px;

  img {
    width: 320px;
    height: 300px;
    margin-bottom: 10px;
  }

  h4 {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  p {
    padding: 0px 20px;
  }
}
