@use "../../variables" as s;

.header-section {
  display: flex;
  justify-content: center;
  height: 115px;
  border-bottom: 1px solid s.$black;
  background: s.$black;
  position: fixed;
  z-index: 10;

  div {
    max-width: 1440px;
  }
}

.mobile-navigation {
  background-color: s.$black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 10;

  img {
    height: 40px;
  }
}

.navigation {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: s.$white;
  font-size: 1.2rem;
  font-family: s.$mainFont;

  &:hover {
    color: s.$pink;
  }
}

@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    background-color: s.$black;
    position: fixed;
    width: 100%;
    max-width: 1440px;
    z-index: 10;

    ul {
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding: 0 100px;
    }

    img {
      height: 70px;
    }
  }

  .nav-link {
    font-size: 1.3rem;
  }
}

@media (max-width: 1023px) {
  nav {
    ul {
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      align-items: center;
      top: 60px;
      left: 0;
      background-color: s.$black;
      border-top: 2px solid s.$pink;
      height: 250px;
      width: 100%;
      padding: 20px 0;
    }
  }
}
