@use "./variables" as s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 320px;
}

ul {
  display: flex;
  list-style: none;
}

// section {
//   background-color: yellowgreen;
// }

h1 {
  font-size: 2rem;
  color: s.$black;
}

h2 {
  font-size: 1.8rem;
  color: s.$white;
}

h3 {
  font-size: 1.6rem;
}
