* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

ul {
  display: flex;
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

.section-black {
  background-color: black;
}

h1 {
  font-size: 2rem;
  color: black;
  font-family: "Jockey One", sans-serif;
}

h2 {
  font-size: 1.8rem;
  color: white;
  font-family: "Jockey One", sans-serif;
}

h3 {
  font-size: 1.6rem;
  font-family: "Jockey One", sans-serif;
}

button,
a {
  font-family: "Jockey One", sans-serif;
  font-size: 1.1rem;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea,
input {
  font-family: "Jockey One", sans-serif;
}

textarea {
  margin-bottom: 20px;
}

.header-section {
  display: flex;
  justify-content: center;
  height: 115px;
  border-bottom: 1px solid black;
  background: black;
  position: fixed;
  z-index: 10;
}
.header-section div {
  max-width: 1440px;
}

.mobile-navigation {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.mobile-navigation img {
  height: 40px;
}

.navigation {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Jockey One", sans-serif;
}
.nav-link:hover {
  color: rgba(250, 124, 208, 0.8156862745);
}

@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100%;
    max-width: 1440px;
    z-index: 10;
  }
  .navigation ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
  }
  .navigation img {
    height: 70px;
  }
  .nav-link {
    font-size: 1.3rem;
  }
}
@media (max-width: 1023px) {
  nav ul {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 60px;
    left: 0;
    background-color: black;
    border-top: 2px solid rgba(250, 124, 208, 0.8156862745);
    height: 250px;
    width: 100%;
    padding: 20px 0;
  }
}
.main-containers {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.home-top-container {
  display: flex;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-logo {
  background-color: white;
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 500px;
}
.home-logo h1 {
  color: black;
}

.home-mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.home-mid-one {
  margin-bottom: 40px;
}
.home-mid-one h2 {
  margin-bottom: 20px;
}
.home-mid-one p {
  padding: 10px 0;
  margin: 0 20px 20px 20px;
}

.home-programs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.home-programs div hr {
  width: 40px;
  height: 6px;
  margin: 5px;
  background-color: black;
  border-radius: 2px;
  border: none;
}

.topic-container {
  padding: 20px 0 5px 0;
}
.topic-container div {
  padding: 20px;
}
.topic-container div h3 {
  margin-bottom: 20px;
}
.topic-container .topic-low {
  max-width: 100%;
}
.topic-container .topic-low .topic-img {
  max-width: 100%;
}
.topic-container .topic-img-1 {
  max-width: 100%;
}
.topic-container .topic-box {
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

.home-bottom-container {
  background-color: black;
  padding: 40px 10px 20px 10px;
  max-width: 1440px;
  width: 100%;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}
.home-bottom p {
  padding: 10px;
}

.space-1-img {
  width: 100%;
}

.space-images {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-img {
  width: 49%;
  margin-bottom: 5px;
}

.home-mid-row img {
  display: none;
}

@media (min-width: 768px) {
  .home-welcome {
    display: flex;
    flex-direction: column;
  }
  .home-mid-one {
    max-width: 500px;
    align-self: center;
    margin: auto;
  }
  .home-mid-two {
    display: flex;
    justify-content: center;
  }
  .home-programs h1 {
    font-size: 3rem;
  }
  .home-programs div hr {
    width: 90px;
    height: 11px;
    margin: 10px;
    background-color: black;
    border-radius: 2px;
    border: none;
  }
  .home-programs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topic-img {
    width: 350px;
  }
  .space-images {
    padding: 10px 10px 0 10px;
  }
  .space-img {
    margin-bottom: 10px;
  }
  .topic-low {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
  }
  .topic-container .topic-box {
    width: 300px;
    margin-bottom: 70px;
  }
  .topic-img {
    margin-top: 110px;
    width: 350px;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .home-mid-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .home-mid-row img {
    display: flex;
    width: 40%;
    padding-right: 40px;
  }
  .home-mid-one {
    align-self: flex-start;
    text-align: start;
  }
  .home-mid-one h3 {
    font-size: 2.5rem;
    padding: 0 0 10px 30px;
  }
  .home-mid-one div {
    margin: 20px 0 0 150px;
  }
  .home-programs h1 {
    font-size: 5rem;
  }
  .home-programs div hr {
    width: 100px;
    height: 15px;
    margin: 20px 20px;
    background-color: black;
    border-radius: 2px;
    border: none;
  }
  .topic-container .topic-box {
    width: 375px;
    padding: 20px 30px;
    margin-bottom: 90px;
  }
  .topic-container .topic-box h3 {
    font-size: 3rem;
    padding: none;
  }
  .topic-container .topic-box p {
    font-size: 1.1rem;
  }
  .topic-img {
    margin-top: 80px;
    width: 400px;
    z-index: 1;
  }
  .space-top {
    display: flex;
  }
  .space-top p {
    padding: 0 30px;
    text-align: start;
    font-size: 1.2rem;
  }
  .space-top .space-1-img {
    width: 60%;
  }
  .space-img {
    width: 23%;
  }
  .space-images {
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .home-mid-two {
    justify-content: space-around;
  }
  .topic-low {
    justify-content: space-around;
    height: 250px;
  }
  .topic-container .topic-box {
    width: 425px;
    padding: 30px 40px;
  }
  .topic-container .topic-img {
    width: 475px;
    margin: 90px 0 0;
  }
}
.instructors-top-container {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 768px) {
  .instructors-container {
    padding: 0 50px;
  }
}
.programs-top-container {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 768px) {
  .programs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.schedule-top-container {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.schedule-text {
  text-align: center;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .schedule-container p {
    max-width: 80%;
  }
}
.contact-top-container {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.contact {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-para {
  margin-top: 10px;
  max-width: 700px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 750px;
}
.contact-form textarea,
.contact-form input {
  box-sizing: border-box;
}
.contact-form input {
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #d9d9d9;
}
.contact-form ::-moz-placeholder {
  color: black;
}
.contact-form ::placeholder {
  color: black;
}
.contact-form textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #d9d9d9;
}

.button-more {
  padding: 10px 15px;
  background-color: rgba(250, 124, 208, 0.8156862745);
  border: none;
  color: white;
  text-decoration: none;
}

.button-sub {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: rgba(250, 124, 208, 0.8156862745);
  border: 2px solid black;
  color: white;
}

.button-join {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: rgba(250, 124, 208, 0.8156862745);
  border: none;
  color: white;
}

.sign-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.button-scroll {
  position: fixed;
  left: 83%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgba(250, 124, 208, 0.8156862745);
}

.button-mobile {
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(250, 124, 208, 0.8156862745);
  right: 83%;
  bottom: 15px;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  padding: 2px;
  font-size: 0.8rem;
  letter-spacing: 3px;
  z-index: 1;
  cursor: pointer;
  color: white;
}
.button-mobile div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Jockey One", sans-serif;
  line-height: 15px;
  margin-left: 1px;
}

.animated-button {
  background: linear-gradient(-30deg, rgba(250, 124, 208, 0.8156862745) 50%, rgba(250, 124, 208, 0.8156862745) 50%);
  padding: 15px 30px;
  border: none;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(8, 20, 43, 0), black);
  animation: 2s animateTop linear infinite;
}
@keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(8, 20, 43, 0), black);
  animation: 2s animateRight linear -1s infinite;
}
@keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(8, 20, 43, 0), black);
  animation: 2s animateBottom linear infinite;
}
@keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), black);
  animation: 2s animateLeft linear -1s infinite;
}
@keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@media (min-width: 375px) {
  .button-scroll {
    left: 85%;
  }
  .button-mobile {
    right: 85%;
  }
}
@media (min-width: 425px) {
  .button-scroll {
    left: 87%;
  }
  .button-mobile {
    right: 87%;
  }
}
@media (min-width: 768px) {
  .sign-button {
    display: flex;
    justify-content: flex-end;
  }
  .button-scroll {
    left: 92%;
  }
  .button-mobile {
    right: 92%;
  }
}
@media (min-width: 1023px) {
  .button-mobile {
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  .button-more {
    padding: 10px 50px;
  }
  .button-scroll {
    left: 94%;
  }
}
@media (min-width: 1440px) {
  .button-scroll {
    left: 96%;
  }
}
@media (min-width: 2560px) {
  .button-scroll {
    left: 76%;
  }
}
.home-one {
  padding: 20px 20px;
  max-width: 500px;
}

.home-two {
  padding: 20px 0px;
  max-width: 320px;
}
.home-two img {
  width: 320px;
  height: 300px;
  margin-bottom: 10px;
}
.home-two h4 {
  padding-top: 0px;
  padding-bottom: 10px;
}
.home-two p {
  padding: 0px 20px;
}

.instructor-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
}
.instructor-cards img {
  border: 3px solid rgba(250, 124, 208, 0.8156862745);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.instructor-cards h3 {
  margin-bottom: 10px;
}
.instructor-cards p {
  margin-bottom: 20px;
}
.instructor-cards hr {
  height: 5px;
}

.program-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.program-cards .program-info {
  padding: 20px;
}
.program-cards img {
  width: 100%;
  margin-bottom: 10px;
}
.program-cards h3 {
  margin-bottom: 10px;
}
.program-cards p {
  margin-bottom: 20px;
}

.slider-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.lastSlide {
  transform: translateX(-100%);
}

.nextSlide {
  transform: translateX(100%);
}

@media (min-width: 768px) {
  .program-cards {
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
  }
  .program-cards img {
    max-width: 280px;
  }
  .program-info {
    width: 300px;
  }
  .instructor-cards {
    flex-direction: row;
    margin: 10px;
  }
  .instructor-cards .instructor-img {
    margin-right: 50px;
  }
  .instructor-cards .instructor-info {
    padding: 0 10px 0 40px;
  }
  .instructor-cards img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  .home-two {
    margin: 0 10px;
  }
}
.slider-center {
  margin: 0;
  display: flex;
  width: 80vw;
  height: 450px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  opacity: 0;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
  width: 100%;
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article h4 {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
  margin-bottom: 16px;
}

article h5 {
  font-size: 2rem;
  font-family: "Jockey One", sans-serif;
}

.title {
  text-transform: capitalize;
  text-align: center;
}

.text {
  max-width: 35em;
  margin: 0 auto;
  line-height: 1.5;
}

.prev,
.next {
  position: absolute;
  top: 435px;
  transform: translateY(-50%);
  background: black;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev:hover,
.next:hover {
  background: rgba(250, 124, 208, 0.8156862745);
}

.prev {
  left: 35%;
}

.next {
  right: 35%;
}

@media (min-width: 768px) {
  article h5 {
    font-size: 2.5rem;
  }
  .slider-center {
    align-items: center;
  }
  .text {
    max-width: 500px;
    margin-top: 1rem;
  }
  .prev,
  .next {
    top: 250px;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .title {
    margin-bottom: 0.75rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .title h2 {
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article h4 {
    margin-right: 50px;
  }
  .program-info {
    width: 500px;
  }
  .slider-center {
    height: 300px;
    width: 900px;
    max-width: 900px;
  }
  .person-img {
    margin-right: 50px;
  }
  .prev,
  .next {
    top: 150px;
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1440px) {
  article h4 {
    margin-right: 75px;
  }
  article h5 {
    font-size: 3rem;
  }
  .slider-center {
    width: 1000px;
    max-width: 1000px;
  }
  .program-info {
    width: 600px;
  }
  .person-img {
    margin-right: 75px;
  }
  .text {
    max-width: 35em;
  }
  .instructor-info {
    max-width: 700px;
  }
}
.footer-section {
  width: 100%;
}

.footer-container {
  background-color: black;
  padding: 10px;
  width: 100%;
  max-width: 1440px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top h4 {
  font-size: 1.4rem;
}
.footer-top h4,
.footer-top h5 {
  color: white;
}
.footer-top h5 {
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}
.footer-bottom h5 {
  color: white;
}
.footer-bottom img {
  width: 75px;
  margin-bottom: 10px;
}

.footer-bg {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  border-top: 1px solid black;
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-top {
    align-items: flex-start;
  }
  .footer-bottom {
    margin-top: 0;
  }
  .footer-bottom .home-logo {
    width: 350px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup-container img {
  height: 30px;
}

.popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-top h1 {
  font-size: 1rem;
}
.popup-top button {
  border: none;
  background-color: white;
}

.popup-header {
  padding: 20px 0;
  text-align: center;
}
.popup-header p {
  font-size: 0.9rem;
}/*# sourceMappingURL=main.module.css.map */