* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 320px;
}

ul {
  display: flex;
  list-style: none;
}

h1 {
  font-size: 2rem;
  color: black;
}

h2 {
  font-size: 1.8rem;
  color: white;
}

h3 {
  font-size: 1.6rem;
}

.mobile-navigation {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}
.mobile-navigation img {
  height: 40px;
}

.navigation {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: rgba(250, 124, 208, 0.8156862745);
}

@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
    background-color: aqua;
  }
  .navigation {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100%;
  }
  .navigation ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
  }
  .navigation img {
    height: 70px;
  }
}
@media (max-width: 1023px) {
  nav ul {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 60px;
    left: 0;
    background-color: black;
    border-top: 2px solid rgba(250, 124, 208, 0.8156862745);
    height: 250px;
    width: 100%;
    padding: 20px 0;
  }
}
.main-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: red;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-logo {
  background-color: white;
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 10px;
  width: 80%;
}
.home-logo h1 {
  color: black;
}

.home-mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-mid-one {
  margin-bottom: 40px;
}
.home-mid-one h2 {
  margin-bottom: 20px;
}
.home-mid-one p {
  margin: 0 20px 20px 20px;
}

.home-programs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.home-programs div hr {
  width: 40px;
  height: 6px;
  margin: 5px;
  background-color: black;
  border-radius: 2px;
  border: none;
}

.topic-container {
  padding: 20px 0 5px 0;
}
.topic-container div {
  padding: 20px;
  background-color: #d9d9d9;
}
.topic-container div h3 {
  margin-bottom: 20px;
}
.topic-container .topic-img-1 {
  width: 100%;
}

.topic-img {
  width: 100%;
}

.home-bottom-container {
  background-color: black;
  padding: 20px 10px;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}
.home-bottom p {
  padding: 10px;
}

.space-1-img {
  width: 100%;
}

.space-images {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-img {
  width: 49%;
  margin-bottom: 5px;
}

.instructors-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.programs-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sign-button {
  padding-bottom: 20px;
}

.schedule-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.schedule-text {
  text-align: center;
}

.contact-top-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home-Top-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 750px;
}
.contact-form textarea,
.contact-form input {
  box-sizing: border-box;
}
.contact-form input {
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #d9d9d9;
}
.contact-form ::-moz-placeholder {
  color: black;
}
.contact-form ::placeholder {
  color: black;
}
.contact-form textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #d9d9d9;
}

.button-more {
  padding: 10px 15px;
  background-color: rgba(250, 124, 208, 0.8156862745);
  border: none;
  color: white;
  text-decoration: none;
}

.button-sub {
  padding: 10px 20px;
  margin: 20px 0;
  width: 140px;
  background-color: rgba(250, 124, 208, 0.8156862745);
  border: 2px solid black;
  color: white;
}

.home-one {
  padding: 20px 10px;
}

.home-two {
  padding: 20px 0px;
}
.home-two img {
  width: 320px;
  height: 300px;
  margin-bottom: 10px;
}
.home-two h4 {
  padding-top: 0px;
  padding-bottom: 10px;
}
.home-two p {
  padding: 0px 20px;
}

.instructor-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
}
.instructor-cards img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.instructor-cards h3 {
  margin-bottom: 10px;
}
.instructor-cards p {
  margin-bottom: 20px;
}
.instructor-cards hr {
  height: 5px;
}

.program-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.program-cards img {
  width: 100%;
  margin-bottom: 10px;
}
.program-cards h3 {
  margin-bottom: 10px;
}
.program-cards p {
  margin-bottom: 20px;
}

.footer-container {
  background-color: black;
  padding: 10px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top h4,
.footer-top h5 {
  color: white;
}
.footer-top h5 {
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}
.footer-bottom h5 {
  color: white;
}
.footer-bottom img {
  width: 75px;
  margin-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup-container img {
  height: 30px;
}

.popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-top h1 {
  font-size: 1rem;
}
.popup-top button {
  border: none;
  background-color: white;
}

.popup-header {
  padding: 20px 0;
  text-align: center;
}
.popup-header p {
  margin-top: 10px;
  font-size: 0.9rem;
}/*# sourceMappingURL=main.module.css.map */